@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./chakra.css";

#root {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  color: #030229;
  background: #fafafa;
}

/* ----------------------------- START Toastify ----------------------------- */
.Toastify {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.Toastify__toast-body {
  white-space: pre-line;
}
.Toastify__toast-container {
  width: unset;
}
.Toastify__toast-icon {
  width: 30px;
}
.Toastify__progress-bar--info {
  background: #56b0e3;
}
.Toastify__progress-bar--success {
  background: #00bb99;
}
.Toastify__progress-bar--warning {
  background: #fab400;
}
.Toastify__progress-bar--error {
  background: #ff5939;
}
/* ----------------------------- END Toastify ----------------------------- */
